@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100;700&display=swap');

body {
  margin: 0;
  border: 0;
  font-family: 'Pathway Extreme', sans-serif;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  color: white;
  height: 100%;
}

.jumbo {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #000000BB;
  background-blend-mode: multiply;
}

#block {
  background-image: url('assets/main.jpg');
  background-color: #00000088;
  background-position: center;
  background-size: cover;
  position: fixed;
  z-index: -1;

  animation: introbg-fadeout 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.title {
  font-style: bold;
  font-size: 5em;
  text-align: center;
}

#div0 {
  flex-flow: column;
  opacity: 0;
}

#top-1, #sub-1 {
  animation: intro-fadeout 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#top-1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sub-1 {
  text-align: center;
  margin: 0.5em;
}

#div1 {
  display: flex;
  flex-flow: column;
  align-self: flex-start;
  height: 300vh;
}

#addon {
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

#addon-text {
  font-style: bold;
  font-size: 3em;
  text-align: center;

  animation: addon-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#div2 {
  display: flex;
  flex-flow: row;
}

.subplace {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
}

.gap {
  width: 70%;
}

.place {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  background-blend-mode: multiply;
}

#p1, #p2, #p3 {
  background-position: center;
  background-size: cover;
  text-shadow:1px 1px 10px #FFFFFF20, 1px 1px 10px #CCCCCC20;
  height: 100vh;
}

#p2 {
  background-image: url('assets/youngwarriors.jpg');
  width: 30%;
  color: #D7D7D7;
  background-color: #000000D0;
}

#p1 {
  background-image: url('assets/oldwolves.jpg');
  width: 40%;
  color: #C9B037;
  background-color: #00000080;
}

#p3 {
  background-image: url('assets/resident.jpg');
  width: 30%;
  color: #AD8A56;
  background-color: #000000D0;
}

#g3 {
  animation: g3-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#g2 {
  animation: g2-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#g1 {
  animation: g1-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#q1, #q2, #q3 {
  background-position: center;
  background-size: cover;
  text-shadow:1px 1px 10px #FFFFFF20, 1px 1px 10px #CCCCCC20;

  animation: bestbg-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#q2 {
  background-image: url('assets/aTon.jpg');
  width: 30%;
}

#q1 {
  background-image: url('assets/aHoai.jpg');
  width: 40%;
}

#q3 {
  background-image: url('assets/viet.jpg');
  width: 30%;
}

.giai {
  animation: best-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#div-1 {
  background-image: url('assets/all.jpg');
  background-color: #000000E0;
  background-position: center;
  background-size: cover;
  flex-flow: row;

  animation: donatebg-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.content-1 {
  display: flex;
  align-items: center;
  margin: 3em 8%;
  font-size: 1.5em;

  animation: donate-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

#meme {
  background: url("assets/meme.png"), #FFF;
  background-position: center;
  background-repeat: no-repeat;

  animation: meme-fadein 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  opacity: 1;
  
  background-blend-mode: multiply;
}

@keyframes intro-fadeout {
  0% {
    opacity: 1;
  }

  3%, 14% {
    transform: translate(0, -20%);
    opacity: 0;
  }
}

@keyframes introbg-fadeout {
  0% {
    background-color: #00000088;
  }

  10%, 50% {
    background-color: #000000;
  }

  100% {
    background-image: none;
  }
}

@keyframes g3-fadein {
  0%, 8% {
    opacity: 0;
  }

  14% {
    opacity: 1;
  }
}

@keyframes g2-fadein {
  0%, 23% {
    opacity: 0;
  }

  28% {
    opacity: 1;
  }
}

@keyframes g1-fadein {
  0%, 37% {
    opacity: 0;
  }

  42% {
    opacity: 1;
  }
}

@keyframes addon-fadein {
  0%, 52% {
    transform: translate(0, 50%);
    opacity: 0;
  }

  57%, 60% {
    transform: translate(0%);
    opacity: 1;
  }

  63%, 72% {
    transform: translate(0, -50%);
    opacity: 0;
  }
}

@keyframes best-fadein {
  0%, 65% {
    transform: translate(0, 50%);
    opacity: 0;
  }

  68% {
    opacity: 1;
  }

  71.28% {
    transform: translate(0%);
  }
}

@keyframes bestbg-fadein {
  57.14% {
    background-color: #000;
  }

  72% {
    background-color: #00000080;
  }
}

@keyframes donate-fadein {
  71.43%, 75% {
    transform: translate(0, 20%);
    opacity: 0;
  }

  82% {
    transform: translate(0%);
    opacity: 1;
  }
}

@keyframes donatebg-fadein {
  71.43% {
    background-position: center top;
  }

  85.71% {
    background-position: center;
  }
}

@keyframes meme-fadein {
  85.71% {
    opacity: 0;
    background-position: center top;
  }

  100% {
    opacity: 1;
    background-position: center;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}